*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Manjari', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.Error404{
    color: #3fa4e8;
    text-align: center; 
    text-shadow: 5px 15px 15px #212ee5; 
}
.Error404 h1{
    font-size: 200px;
}
.Error404 p{
    font-size: 100px;
}
    
.back{
    background-color: #212ee5;
    color: #3fa4e8;    
    text-shadow: 5px 2px 10px #040203;
    font-size: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
}
.back:hover{
    transition: 0.25s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #3fa4e8;
}